.App {
    color: blueviolet;
  text-align: center;
  margin-top: 50px;
}

input { 
  color: blueviolet;
  padding: 8px;
  margin-right: 8px;
}
body {
  background-color: #282c34;
  color: rgb(225, 8, 8);
  padding: 40px;
  font-family: Sans-Serif;
  text-align: center;
}

button {
  color: blue;
  padding: 8px 12px;
  margin-left: 5px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  color: blue;
  margin: 10px 0;
  padding: 8px;
  background-color: #f4f4f4;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
